$bgcolor : #75FFC7;
$color : black;
%section {
  background-color : $bgcolor;
  default-color : $color;
  color : $color;
  padding : 5px;
}
.footer {
  @extend %section;
  font-size : 12px;
  margin : 15px;
}
.navbar {
  @extend %section;
  :hover {
    color : gray;
  }
  .active {
    font-weight: bold;
    color : $color;
    font-size-adjust: 1.1;
  }
  a {
    color : $color;
  }

}

.card {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 600px) {
  .card {
    visibility: hidden;
  }
  article {
    width: 100%
  }
}
